body {
            margin: 0;
            padding: 0;

background: url("") no-repeat center center fixed;
background-size: cover;
}


canvas {
margin: 0;
padding: 0;

background: rgba(255, 255, 255, 0.75);;


}

.head {

    font-family: sans-serif;
    color: blue;
    font-size: 115%;

}